.gallery-wrapper{
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(3, 1fr);
    padding: .5em;
    height: 100vh;
    background-color: var(--back-color-white-);
}

.gallery-content{
    display: flex;
    object-fit: contain;
    object-position: center;
}

.gallery-content img{
    width: 100%;
}